# MariaDB Configuration
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=frappe
MYSQL_USER=frappe
MYSQL_PASSWORD=frappe

# Frappe Site Configuration
SITE_NAME=spin-lab.local
ADMIN_PASSWORD=admin

# Redis Configuration (automatically set by docker-compose)
REDIS_CACHE=redis-cache:6379
REDIS_QUEUE=redis-queue:6379
REDIS_SOCKETIO=redis-socketio:6379
MARIADB_HOST=mariadb
